flows/credit_card_management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approvedrecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recordlinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>linkapprove</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assignment_1</name>
        <label>Copy 2 of Assignment 1</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notapprovedrecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recordlinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>linknotapproved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_2_of_Assignment_1</name>
        <label>Copy 2 of Copy 2 of Assignment 1</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manualrecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recordlinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>linkmanual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Records_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_1</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>NotApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_2</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>linkapprove</name>
        <dataType>String</dataType>
        <expression>&quot;Application Id :  &quot; +{!Loop_1.Name}+ BR()+ BR()+
&quot;Applicant&apos;s Name :  &quot; +{!Loop_1.Applicant_s_Name__c}+ BR()+ BR()+
&quot;Applicant&apos;s Employment Status :  &quot; +{!Loop_1.Applicant_s_Employment_Status__c}+ BR()+ BR()+

 &quot;For more info Click here :  &quot; + &quot;https://orgfarm-66e1786b62.lightning.force.com/lightning/r/Received_Application__c/&quot; +{!Loop_1.Id}+ &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>linkmanual</name>
        <dataType>String</dataType>
        <expression>&quot;Application Id :  &quot; +{!Loop_3.Name}+ BR()+ BR()+
&quot;Applicant&apos;s Name :  &quot; +{!Loop_3.Applicant_s_Name__c}+ BR()+ BR()+
&quot;Applicant&apos;s Employment Status :  &quot; +{!Loop_1.Applicant_s_Employment_Status__c}+ BR()+ BR()+

 &quot;For more info Click here :  &quot; + &quot;https://orgfarm-66e1786b62.lightning.force.com/lightning/r/Received_Application__c/&quot; +{!Loop_3.Id}+ &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>linknotapproved</name>
        <dataType>String</dataType>
        <expression>&quot;Application Id :  &quot; +{!loop2.Name}+ BR()+ BR()+
&quot;Applicant&apos;s Name :  &quot; +{!loop2.Applicant_s_Name__c}+ BR()+ BR()+
&quot;Applicant&apos;s Employment Status :  &quot; +{!loop2.Applicant_s_Employment_Status__c}+ BR()+ BR()+

 &quot;For more info Click here :  &quot; + &quot;https://orgfarm-66e1786b62.lightning.force.com/lightning/r/Received_Application__c/&quot; +{!loop2.Id}+ &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>credit card management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>credit card management</label>
    <loops>
        <name>loop2</name>
        <label>Loop 2</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <collectionReference>notapprovedrecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assignment_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Approvedrecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_3</name>
        <label>Loop 3</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <collectionReference>manualrecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Copy_2_of_Assignment_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Received_Application__c</object>
        <outputReference>Approvedrecords</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Applicant_s_Name__c</queriedFields>
        <queriedFields>Applicant_s_Employment_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Records 2</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </filters>
        <object>Received_Application__c</object>
        <outputReference>notapprovedrecords</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Applicant_s_Name__c</queriedFields>
        <queriedFields>Applicant_s_Employment_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_3</name>
        <label>Get Records 3</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual Review</stringValue>
            </value>
        </filters>
        <object>Received_Application__c</object>
        <outputReference>manualrecord</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Applicant_s_Name__c</queriedFields>
        <queriedFields>Applicant_s_Employment_Status__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approvedrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Received_Application__c</objectType>
    </variables>
    <variables>
        <name>Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Received_Application__c</objectType>
    </variables>
    <variables>
        <name>manualrecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Received_Application__c</objectType>
    </variables>
    <variables>
        <name>notapprovedrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Received_Application__c</objectType>
    </variables>
    <variables>
        <name>Recordlinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
