flows/final_step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>FinalVerification</name>
        <label>Final Verification</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Records_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyIt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>final step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>final step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnterId</elementReference>
            </value>
        </filters>
        <object>Received_Application__c</object>
        <outputReference>Veiw</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Applicant_s_Name__c</queriedFields>
        <queriedFields>Credit_Score__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Final_Verification__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Records 2</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnterId</elementReference>
            </value>
        </filters>
        <object>Received_Application__c</object>
        <outputReference>Veiw</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Applicant_s_Name__c</queriedFields>
        <queriedFields>Credit_Score__c</queriedFields>
        <queriedFields>Final_Verification__c</queriedFields>
        <queriedFields>Reason_For_Rejection__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Verification</name>
        <label>Update Verification</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Update_Verification2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnterId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Verification__c</field>
            <value>
                <elementReference>VerifyIt</elementReference>
            </value>
        </inputAssignments>
        <object>Received_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Verification2</name>
        <label>Update Verification2</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>FinalVerification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Final_Verification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnterId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_For_Rejection__c</field>
            <value>
                <elementReference>GiveReason</elementReference>
            </value>
        </inputAssignments>
        <object>Received_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GiveReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Veiw</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Received_Application__c</objectType>
    </variables>
    <variables>
        <name>VerifyIt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
