flows/Received_Application_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>For_status</name>
        <label>For status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Manual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>650.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Creation</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>650.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Approved_a</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <description>To insert records into Received Application object after User Card Application</description>
    <environments>Default</environments>
    <interviewLabel>Received Application Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Received Application Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Approved_Creation</name>
        <label>Approved Creation</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Applicant_s_Employment_Status__c</field>
            <value>
                <elementReference>$Record.Employment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Income__c</field>
            <value>
                <elementReference>$Record.Annual_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applier_s_Address__c</field>
            <value>
                <elementReference>$Record.Residential_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Score__c</field>
            <value>
                <elementReference>$Record.Credit_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Received_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Manual</name>
        <label>Manual</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Applicant_s_Employment_Status__c</field>
            <value>
                <elementReference>$Record.Employment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Income__c</field>
            <value>
                <elementReference>$Record.Annual_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applier_s_Address__c</field>
            <value>
                <elementReference>$Record.Residential_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Score__c</field>
            <value>
                <elementReference>$Record.Credit_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Manual Review</stringValue>
            </value>
        </inputAssignments>
        <object>Received_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Not_Approved_a</name>
        <label>Not Approved a</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Applicant_s_Employment_Status__c</field>
            <value>
                <elementReference>$Record.Employment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Income__c</field>
            <value>
                <elementReference>$Record.Annual_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applier_s_Address__c</field>
            <value>
                <elementReference>$Record.Residential_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Score__c</field>
            <value>
                <elementReference>$Record.Credit_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Verification__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Received_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Credit_Score__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Credit_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User_Credit_Card_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CredScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Credit_Score__c</elementReference>
        </value>
    </variables>
</Flow>
